.container {
    left: 0;
    top:0; 
}
.coluna{
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans';
    color: #ffffff;
    align-items: center;
}
.tam{
    /* height: 10%; */
    height: 68px;
}
.start{
    justify-content: flex-start;
}
.item{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 68px;
    justify-content: flex-end; 
    /* border:1px solid #2cc1ee; */
}

.line {
    width: 100%;
    height: 2px;
    background-color: #dae1f0;
}
.line2 {
    width: 100%;
    height: 2px;
    background-color: #7de6c6;
}
.texto{
    width: 100%;
    font-size: 16px;
    background-color:transparent;
    border: none;
    margin-top: 4px;
    margin-bottom: 4px;
}
.label{
    font-size: 12px;
    font-weight: bold;
}
.centro {
    justify-content: center;
}
.justificado{
    justify-content: space-between;
    height: 100%;
}
select{
    border: none;
    background: transparent;
}
select option{
    border: none;
    background: transparent;
}
::-webkit-input-placeholder {
    color:#acb1bd;
 }
 :-moz-placeholder { /* Firefox 18- */
    color:#acb1bd;  
 }
 ::-moz-placeholder {  /* Firefox 19+ */
    color:#acb1bd;  
 }
.cadastrar {
    display: flex;
    border-radius: 24px;
    background-image: linear-gradient(to bottom, #b4f4e5, #7de6c6);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 24px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    color: #474971;
    justify-content: center;
    border: none;
}
.click{
    cursor:pointer;
}
@media(max-width:800px){ /*celular*/
    .telagrande{
        display: none;
    }
    .item option {
        background-color: #3c3e64;
    }
    .container{
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: linear-gradient(211deg, #3c3e64, #1d1e2a);
        box-shadow: 0 1px 0 0 #ffffff, 0 -1px 0 0 #ffffff; 
    }
    .lista{
        height: calc(100% - 96px);
        width: calc(100% - 40px);
        max-width: 380px;
    }
    .texto{
        color: #ffffff;
    }
    .label{
        color: #7de6c6;
    }
    .voltar{
        position: relative;
        width: 100%;
        text-align: left;
        color: #ffffff;
        display: flex;
        font-family: Roboto;
        font-size: 14px;
        justify-content: flex-start;
        align-items: center;
        margin-top: 16px;
        margin-bottom: 24px;
        /* border:1px solid #ffffff; */
    }
    .Shape-Copy-2 {
        width: 8px;
        height: 5px;
        background-color: #7de6c6;
    }
    .cadastrar{
        width: calc(100% - 32px);
        height: calc(14% - 48px);
        min-height: 48px;
        margin-top: 28px;
    }
}
@media(min-width:801px){
    .telapequena {
        display: none;
    }
    .container{
        height: 100%;
    }
    .lista{
        width: 576px;
        height: 440px;
    }
    .texto, .label{
        color: #474971;
    }
    .voltar {
        display:none !important;
    }
    .cadastrar{
        width: 532px;
        height: 48px;
    }
    .item option {
        background-color: #ffffff;
    }
}