@charset "UTF-8";
/* Paleta de cores */
.flex, .modalRecibo .infosRecibo > div, .dadosUsuario {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.flex-justificar, .modalRecibo .infosRecibo > div {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important; }

.flex-centralizar, .dadosUsuario {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

.flex-coluna {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important; }

/* Geral */
.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

/* Personalizado */
.modal {
  font-family: 'Roboto', sans-serif; }
  .modal .modal-content {
    padding: 0;
    border-radius: .3rem;
    width: 80%;
    max-width: 640px;
    background-color: #fff;
    margin: 15vh auto;
    /* Estrutura */
    /* Elementos */ }
    .modal .modal-content .modal-header {
      background: #474971;
      font-size: 16px;
      border-top-left-radius: .3rem;
      border-top-right-radius: .3rem; }
      .modal .modal-content .modal-header .modal-title {
        font-size: 16px;
        color: white;
        margin: 15px 20px; }
        .modal .modal-content .modal-header .modal-title .nomeUsuario {
          color: #7de6c6; }
      .modal .modal-content .modal-header .fechar.xis {
        color: white;
        float: right;
        font-size: 28px;
        margin: 5px 15px; }
        .modal .modal-content .modal-header .fechar.xis:hover, .modal .modal-content .modal-header .fechar.xis:focus {
          color: #e6e6e6;
          text-decoration: none;
          cursor: pointer; }
      .modal .modal-content .modal-header .voltarModal {
        display: none; }
    .modal .modal-content .modal-body {
      overflow: auto; }
    .modal .modal-content .modal-body,
    .modal .modal-content .modal-footer {
      border-bottom-left-radius: .3rem;
      border-bottom-right-radius: .3rem; }
    .modal .modal-content h5 {
      font-size: 18px;
      text-align: center; }
    .modal .modal-content button {
      margin: 20px auto;
      width: 90%;
      border-radius: 24px;
      line-height: 40px;
      font-size: 14px;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      cursor: pointer; }
      .modal .modal-content button.acao {
        background-image: linear-gradient(to bottom, #b4f4e5, #7de6c6);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        border: none; }
      .modal .modal-content button.voltar {
        border: 1px solid #474971;
        background: white; }
    .modal .modal-content .dadosUsuario {
      margin: 0 auto;
      padding: 25px 0;
      color: #474971; }

.modalUsuario form {
  margin: 10px auto; }
  .modalUsuario form input {
    display: block; }
  .modalUsuario form input[type="number"] {
    border-bottom: 2px solid #474970;
    font-size: 48px;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif; }
    .modalUsuario form input[type="number"]::placeholder {
      color: #d8d8d8;
      font-family: 'Nunito Sans', sans-serif; }
.modalUsuario .modal-footer > .flex, .modalUsuario .modalRecibo .infosRecibo.modal-footer > div, .modalRecibo .modalUsuario .infosRecibo.modal-footer > div, .modalUsuario .modal-footer > .dadosUsuario {
  border-top: 1px solid #d8d8d8; }
.modalUsuario .modal-footer .flex, .modalUsuario .modal-footer .modalRecibo .infosRecibo > div, .modalRecibo .modalUsuario .modal-footer .infosRecibo > div, .modalUsuario .modal-footer .dadosUsuario {
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 20px;
  width: 90%; }
.modalUsuario .modal-footer .aviso {
  float: left;
  margin: 0 auto;
  color: #ef5778;
  font-size: 14px; }
  .modalUsuario .modal-footer .aviso .aviso-icone {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background: #ef5778;
    color: white;
    font-weight: 600; }
    .modalUsuario .modal-footer .aviso .aviso-icone:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "!";
      font-size: 14px;
      font-weight: 700; }
  .modalUsuario .modal-footer .aviso .aviso-chamada {
    font-weight: bold;
    text-decoration: underline; }
  .modalUsuario .modal-footer .aviso .cadastrarCartao {
    cursor: pointer; }
    .modalUsuario .modal-footer .aviso .cadastrarCartao:hover {
      color: #eb2853;
      text-decoration: none; }
.modalUsuario .modal-footer .infoCartao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  width: auto;
  margin: 0 auto;
  font-size: 14px;
  cursor: pointer; }
.modalUsuario .modal-footer #enviarValor.inativo {
  background: #f2f2f2;
  box-shadow: none;
  color: #bfbfbf; }

.modalCadastroCartao #cartValidade {
  border-color: #d8d8d8; }
.modalCadastroCartao #enviarCartao {
  display: block; }

.modalExibirCartoes ul {
  list-style: none;
  padding: 0;
  overflow: auto; }
  .modalExibirCartoes ul li.ativo {
    background-color: rgba(125, 230, 198, 0.24); }
  .modalExibirCartoes ul li .item {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    color: #474971; }
    .modalExibirCartoes ul li .item .flex, .modalExibirCartoes ul li .item .modalRecibo .infosRecibo > div, .modalRecibo .modalExibirCartoes ul li .item .infosRecibo > div, .modalExibirCartoes ul li .item .dadosUsuario {
      margin: 0 auto; }
    .modalExibirCartoes ul li .item .fa-credit-card {
      margin-right: 15px;
      font-size: 22px; }
    .modalExibirCartoes ul li .item .fa-check {
      margin-left: 15px;
      color: #7de6c6; }
.modalExibirCartoes #selecionarCartao {
  display: block;
  margin-top: 150px; }

.modalRecibo {
  color: #474971; }
  .modalRecibo .infosRecibo {
    margin-bottom: 100px; }
    .modalRecibo .infosRecibo > div {
      width: 50%;
      min-width: 250px;
      margin: 20px auto 0 auto;
      padding-bottom: 5px;
      border-bottom: 1px solid #d8d8d8;
      font-size: 14px; }
      .modalRecibo .infosRecibo > div span:last-child {
        font-weight: bold; }
  .modalRecibo h5 {
    font-size: 20px;
    margin-bottom: 10px; }
  .modalRecibo .modal-footer {
    /*width: 50%;*/
    /*min-width: 250px;*/
    padding-bottom: 30px; }
    .modalRecibo .modal-footer button {
      margin: 0 auto;
      width: auto;
      padding: 5px 25px; }
      .modalRecibo .modal-footer button:first-child {
        margin-right: 10px;
        min-width: 180px; }
      .modalRecibo .modal-footer button:last-child {
        margin-left: 10px; }

.material-form .container {
  background: white;
  padding: 40px 30px 10px 30px; }
  .material-form .container .material-input {
    position: relative;
    margin-bottom: 30px; }
    .material-form .container .material-input input {
      background-color: transparent; }
    .material-form .container .material-input label {
      color: #999;
      font-size: 16px;
      position: absolute;
      pointer-events: none;
      top: 10px;
      transition: 0.2s ease all;
      width: 100%; }
    .material-form .container .material-input input:not([type]),
    .material-form .container .material-input input[type=text],
    .material-form .container .material-input input[type=password],
    .material-form .container .material-input input[type=email],
    .material-form .container .material-input input[type=url],
    .material-form .container .material-input input[type=time],
    .material-form .container .material-input input[type=date],
    .material-form .container .material-input input[type=datetime-local],
    .material-form .container .material-input input[type=tel],
    .material-form .container .material-input input[type=number],
    .material-form .container .material-input input[type=search] {
      color: #333;
      font-size: 16px;
      padding: 10px 10px 10px 0;
      position: relative;
      display: block;
      border: none;
      width: 100%;
      border-bottom: 1px solid #d5d5d5; }
      .material-form .container .material-input input:not([type]):focus,
      .material-form .container .material-input input[type=text]:focus,
      .material-form .container .material-input input[type=password]:focus,
      .material-form .container .material-input input[type=email]:focus,
      .material-form .container .material-input input[type=url]:focus,
      .material-form .container .material-input input[type=time]:focus,
      .material-form .container .material-input input[type=date]:focus,
      .material-form .container .material-input input[type=datetime-local]:focus,
      .material-form .container .material-input input[type=tel]:focus,
      .material-form .container .material-input input[type=number]:focus,
      .material-form .container .material-input input[type=search]:focus {
        outline: none; }
      .material-form .container .material-input input:not([type]):focus + label, .material-form .container .material-input input:not([type]):valid + label,
      .material-form .container .material-input input[type=text]:focus + label,
      .material-form .container .material-input input[type=text]:valid + label,
      .material-form .container .material-input input[type=password]:focus + label,
      .material-form .container .material-input input[type=password]:valid + label,
      .material-form .container .material-input input[type=email]:focus + label,
      .material-form .container .material-input input[type=email]:valid + label,
      .material-form .container .material-input input[type=url]:focus + label,
      .material-form .container .material-input input[type=url]:valid + label,
      .material-form .container .material-input input[type=time]:focus + label,
      .material-form .container .material-input input[type=time]:valid + label,
      .material-form .container .material-input input[type=date]:focus + label,
      .material-form .container .material-input input[type=date]:valid + label,
      .material-form .container .material-input input[type=datetime-local]:focus + label,
      .material-form .container .material-input input[type=datetime-local]:valid + label,
      .material-form .container .material-input input[type=tel]:focus + label,
      .material-form .container .material-input input[type=tel]:valid + label,
      .material-form .container .material-input input[type=number]:focus + label,
      .material-form .container .material-input input[type=number]:valid + label,
      .material-form .container .material-input input[type=search]:focus + label,
      .material-form .container .material-input input[type=search]:valid + label {
        top: -10px;
        font-size: 12px;
        color: #474971;
        font-weight: bold; }
      .material-form .container .material-input input:not([type]):focus ~ .bar:before, .material-form .container .material-input input:not([type]):focus ~ .bar:after, .material-form .container .material-input input:not([type]):valid ~ .bar:before, .material-form .container .material-input input:not([type]):valid ~ .bar:after,
      .material-form .container .material-input input[type=text]:focus ~ .bar:before,
      .material-form .container .material-input input[type=text]:focus ~ .bar:after,
      .material-form .container .material-input input[type=text]:valid ~ .bar:before,
      .material-form .container .material-input input[type=text]:valid ~ .bar:after,
      .material-form .container .material-input input[type=password]:focus ~ .bar:before,
      .material-form .container .material-input input[type=password]:focus ~ .bar:after,
      .material-form .container .material-input input[type=password]:valid ~ .bar:before,
      .material-form .container .material-input input[type=password]:valid ~ .bar:after,
      .material-form .container .material-input input[type=email]:focus ~ .bar:before,
      .material-form .container .material-input input[type=email]:focus ~ .bar:after,
      .material-form .container .material-input input[type=email]:valid ~ .bar:before,
      .material-form .container .material-input input[type=email]:valid ~ .bar:after,
      .material-form .container .material-input input[type=url]:focus ~ .bar:before,
      .material-form .container .material-input input[type=url]:focus ~ .bar:after,
      .material-form .container .material-input input[type=url]:valid ~ .bar:before,
      .material-form .container .material-input input[type=url]:valid ~ .bar:after,
      .material-form .container .material-input input[type=time]:focus ~ .bar:before,
      .material-form .container .material-input input[type=time]:focus ~ .bar:after,
      .material-form .container .material-input input[type=time]:valid ~ .bar:before,
      .material-form .container .material-input input[type=time]:valid ~ .bar:after,
      .material-form .container .material-input input[type=date]:focus ~ .bar:before,
      .material-form .container .material-input input[type=date]:focus ~ .bar:after,
      .material-form .container .material-input input[type=date]:valid ~ .bar:before,
      .material-form .container .material-input input[type=date]:valid ~ .bar:after,
      .material-form .container .material-input input[type=datetime-local]:focus ~ .bar:before,
      .material-form .container .material-input input[type=datetime-local]:focus ~ .bar:after,
      .material-form .container .material-input input[type=datetime-local]:valid ~ .bar:before,
      .material-form .container .material-input input[type=datetime-local]:valid ~ .bar:after,
      .material-form .container .material-input input[type=tel]:focus ~ .bar:before,
      .material-form .container .material-input input[type=tel]:focus ~ .bar:after,
      .material-form .container .material-input input[type=tel]:valid ~ .bar:before,
      .material-form .container .material-input input[type=tel]:valid ~ .bar:after,
      .material-form .container .material-input input[type=number]:focus ~ .bar:before,
      .material-form .container .material-input input[type=number]:focus ~ .bar:after,
      .material-form .container .material-input input[type=number]:valid ~ .bar:before,
      .material-form .container .material-input input[type=number]:valid ~ .bar:after,
      .material-form .container .material-input input[type=search]:focus ~ .bar:before,
      .material-form .container .material-input input[type=search]:focus ~ .bar:after,
      .material-form .container .material-input input[type=search]:valid ~ .bar:before,
      .material-form .container .material-input input[type=search]:valid ~ .bar:after {
        width: 51%;
        background: #474971;
        border-bottom: 0px; }
    .material-form .container .material-input .bar {
      position: relative;
      display: block;
      width: 100%; }
      .material-form .container .material-input .bar:before, .material-form .container .material-input .bar:after {
        content: '';
        height: 2px;
        width: 0px;
        position: absolute;
        bottom: 0.5px;
        background: #474971;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all; }
      .material-form .container .material-input .bar:before {
        left: 51%; }
      .material-form .container .material-input .bar:after {
        right: 49%; }
      .material-form .container .material-input .bar + label:after {
        display: block;
        content: "";
        position: absolute;
        top: 65px;
        opacity: 0;
        transition: 0.2s opacity ease-out, 0.2s color ease-out;
        -moz-transition: 0.2s opacity ease-out, 0.2s color ease-out;
        -webkit-transition: 0.2s opacity ease-out, 0.2s color ease-out; }
    .material-form .container .material-input select {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      background-color: transparent;
      color: #333;
      font-size: 16px;
      padding: 10px 10px 10px 0;
      position: relative;
      display: block;
      width: 300px;
      border: none;
      border-bottom: 1px solid #d5d5d5;
      border-radius: 0; }
      .material-form .container .material-input select:focus {
        outline: none; }
    .material-form .container .material-input select + .icon-arrow-down {
      position: absolute;
      float: right; }
    .material-form .container .material-input select option:checked + label {
      display: none; }
    .material-form .container .material-input input[type="radio"] + label {
      pointer-events: all; }
    .material-form .container .material-input input[type="radio"]:not(:checked),
    .material-form .container .material-input input[type="radio"]:checked {
      position: absolute;
      left: -9999px; }
    .material-form .container .material-input input[type="radio"]:not(:checked) + label,
    .material-form .container .material-input input[type="radio"]:checked + label {
      position: relative;
      padding-left: 35px;
      padding-top: 4px;
      cursor: pointer;
      width: 100%;
      display: inline; }
    .material-form .container .material-input input[type="radio"]:not(:checked) + label:before,
    .material-form .container .material-input input[type="radio"]:checked + label:before,
    .material-form .container .material-input input[type="radio"]:not(:checked) + label:after,
    .material-form .container .material-input input[type="radio"]:checked + label:after {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 24px;
      height: 24px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all; }
    .material-form .container .material-input input[type="radio"]:not(:checked) + label:before,
    .material-form .container .material-input input[type="radio"]:checked + label:before {
      border: 1.5px solid #b9b9ba; }
    .material-form .container .material-input input[type="radio"]:checked + label:before {
      border: 1px solid #49ba8e; }
    .material-form .container .material-input input[type="radio"]:not(:checked) + label:before,
    .material-form .container .material-input input[type="radio"]:checked + label:before {
      border-radius: 50%; }
    .material-form .container .material-input input[type="radio"]:not(:checked) + label:after,
    .material-form .container .material-input input[type="radio"]:checked + label:after {
      font-size: 9px;
      color: #fff;
      background: #49ba8e; }
    .material-form .container .material-input input[type="radio"]:not(:checked) + label:after {
      transform: scale(0, 0); }
    .material-form .container .material-input input[type="radio"]:checked + label:after {
      transform: scale(1, 1); }
    .material-form .container .material-input input[type="radio"]:checked + label:after {
      border-radius: 50%;
      width: 16px;
      height: 16px;
      left: 5px;
      top: 7px; }

/* Anima├º├Áes de carregamento */
body {
  animation: 3s rolagem; }

#carregamento {
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 360px;
  min-height: 100%;
  z-index: -1;
  opacity: 0;
  background: rgba(33, 194, 94, 0.9);
  animation: 3s mostrar; }
  #carregamento #carregamento-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4; }
    #carregamento #carregamento-logo .letra {
      stroke: #fff;
      stroke-width: 2px;
      stroke-dasharray: 661.3;
      fill: white;
      animation: 2s desenhar forwards; }
    #carregamento #carregamento-logo .quadro path, #carregamento #carregamento-logo .quadro rect {
      fill: white;
      animation: 2s final; }

@keyframes mostrar {
  0% {
    opacity: 1;
    z-index: 3; }
  90% {
    opacity: 1;
    z-index: 3; }
  100% {
    opacity: 0;
    z-index: 3; } }
@keyframes desenhar {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 661.3; }
  90% {
    fill-opacity: 0;
    stroke: #fff; }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    stroke: none; } }
@keyframes final {
  0% {
    fill-opacity: 0; }
  90% {
    fill-opacity: 0; }
  100% {
    fill-opacity: 1; } }
@keyframes rolagem {
  0% {
    overflow: hidden; }
  90% {
    overflow: hidden; }
  100% {
    overflow: visible; } }
/* Geral */
html, body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #333; }

body {
  min-width: 360px; }

header {
  padding: 0 15px;
  background: #7de6c6;
  color: #474971;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  header .wrapper {
    padding: 10px 0; }
  header h1 {
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    border-left: 2px solid #474971;
    margin-left: 10px;
    padding-left: 10px; }
  header svg * {
    fill: white; }

.wrapper {
  width: 80%;
  max-width: 1050px;
  margin: 0 auto; }

/* Listagem de Usu├írios */
#usuariosLista {
  list-style: none;
  padding: 0;
  margin: 0; }
  #usuariosLista li {
    background-image: linear-gradient(to left, #3c3e64, #1d1e2a);
    box-shadow: 0 1px 0 0 #ffffff, 0 -1px 0 0 #ffffff;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 14px;
    color: #636363;
    font-family: 'Roboto', sans-serif; }
    #usuariosLista li:first-child {
      box-shadow: none; }
    #usuariosLista li .acoes span {
      display: inline-block;
      float: left;
      color: white; }
    #usuariosLista li .acoes .pagar-icone {
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-image: linear-gradient(to left, #b4f4e5, #7de6c6);
      color: #474971;
      font-weight: 600; }
      #usuariosLista li .acoes .pagar-icone:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "$";
        font-size: 18px;
        font-weight: 700; }
    #usuariosLista li .acoes .pagar-texto {
      font-weight: 500;
      font-size: 20px;
      margin-left: 10px;
      margin-right: 20px; }
    #usuariosLista li .acoes .fa-chevron-right {
      font-size: 28px; }

/* Informa├º├Áes dos usu├írios */
.dadosUsuario {
  color: white; }
  .dadosUsuario img, .dadosUsuario > div {
    display: inline-block;
    float: left; }
  .dadosUsuario .fotoUsuario {
    border-radius: 50%;
    border: 2px solid white;
    width: 80px; }
  .dadosUsuario > div {
    margin-left: 20px; }
    .dadosUsuario > div .nomeUsuario {
      font-size: 24px;
      font-weight: 600; }
    .dadosUsuario > div .metaUsuario {
      font-size: 14px;
      margin-top: 7px; }
      .dadosUsuario > div .metaUsuario .idUsuario {
        margin-right: 10px; }
    .dadosUsuario > div .nomeUsuario, .dadosUsuario > div .metaUsuario {
      float: left;
      clear: left; }

/* Defini├º├úo do valor */
input {
  border: none;
  border-bottom: 1px solid #757575;
  background: transparent;
  color: #636363; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type='number'], input[type='month'] {
  -moz-appearance: textfield; }

@media screen and (max-width: 768px) {
  /* Geral */
  .wrapper {
    width: 100%; }

  header {
    position: fixed;
    z-index: 2;
    width: 100%; }
    header svg {
      width: 20px; }
    header h1 {
      font-size: 14px; }

  /* Listagem de Usu├írios */
  #usuariosLista {
    padding-top: 55px; }
    #usuariosLista .acoes .pagar-icone {
      margin-right: 10px;
      width: 28px;
      height: 28px; }
    #usuariosLista .acoes .pagar-texto {
      display: none; }

  /* Informa├º├Áes dos usu├írios */
  .dadosUsuario .fotoUsuario {
    width: 52px; }
  .dadosUsuario .nomeUsuario {
    font-size: 16px; }
  .dadosUsuario .metaUsuario {
    font-size: 12px; }
    .dadosUsuario .metaUsuario .idUsuario {
      display: none; }

  /* Modal */
  .modal .modal-content {
    margin: 0;
    padding-top: 60px;
    width: 100vw;
    min-width: 360px;
    height: calc(100vh - 55px);
    background-image: linear-gradient(to bottom, #3c3e64, #1d1e2a); }
    .modal .modal-content .modal-header {
      background: transparent; }
      .modal .modal-content .modal-header .voltarModal {
        display: inline-block;
        margin: 15px 0 0 15px;
        color: white;
        cursor: pointer; }
        .modal .modal-content .modal-header .voltarModal svg {
          width: 8px;
          margin-right: 5px; }
          .modal .modal-content .modal-header .voltarModal svg * {
            fill: #7de6c6; }
      .modal .modal-content .modal-header .modal-title {
        display: none; }
      .modal .modal-content .modal-header .fechar.xis {
        display: none; }
    .modal .modal-content .modal-body input#valor {
      color: white; }
    .modal .modal-content .dadosUsuario {
      color: white; }
    .modal .modal-content .modal-footer {
      width: 100%;
      color: white; }
      .modal .modal-content .modal-footer .aviso {
        padding: 15px; }
        .modal .modal-content .modal-footer .aviso .aviso-icone:before {
          color: #474971; }
      .modal .modal-content .modal-footer .infoCartao svg * {
        color: #7de6c6; }
  .modal.modalCadastroCartao select {
    background: transparent !important; }
  .modal.modalExibirCartoes .modal-body {
    color: white; }
    .modal.modalExibirCartoes .modal-body .item svg * {
      fill: #7de6c6; }
    .modal.modalExibirCartoes .modal-body .item b {
      color: white; }
  .modal.modalExibirCartoes button#selecionarCartao {
    margin-top: 50px; }
  .modal.modalRecibo .modal-body {
    color: white; }
    .modal.modalRecibo .modal-body .infosRecibo {
      margin-bottom: 50px; }
    .modal.modalRecibo .modal-body .infosRecibo > div > span:last-child {
      color: #7de6c6; }
  .modal.modalRecibo .modal-footer {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
    .modal.modalRecibo .modal-footer button {
      margin: 5px auto; }

  .material-form .container {
    background: none !important; }
  .material-form .material-input .input-item, .material-form .material-input input {
    color: white !important; }
  .material-form .material-input select.input-item {
    color: #474971 !important; }
  .material-form .material-input input:not([type]):focus + label, .material-form .material-input input:not([type]):valid + label,
  .material-form .material-input input[type=text]:focus + label,
  .material-form .material-input input[type=text]:valid + label,
  .material-form .material-input input[type=password]:focus + label,
  .material-form .material-input input[type=password]:valid + label,
  .material-form .material-input input[type=email]:focus + label,
  .material-form .material-input input[type=email]:valid + label,
  .material-form .material-input input[type=url]:focus + label,
  .material-form .material-input input[type=url]:valid + label,
  .material-form .material-input input[type=time]:focus + label,
  .material-form .material-input input[type=time]:valid + label,
  .material-form .material-input input[type=date]:focus + label,
  .material-form .material-input input[type=date]:valid + label,
  .material-form .material-input input[type=datetime-local]:focus + label,
  .material-form .material-input input[type=datetime-local]:valid + label,
  .material-form .material-input input[type=tel]:focus + label,
  .material-form .material-input input[type=tel]:valid + label,
  .material-form .material-input input[type=number]:focus + label,
  .material-form .material-input input[type=number]:valid + label,
  .material-form .material-input input[type=search]:focus + label,
  .material-form .material-input input[type=search]:valid + label {
    color: #7de6c6 !important; }
  .material-form .material-input input:not([type]):focus ~ .bar:before, .material-form .material-input input:not([type]):focus ~ .bar:after, .material-form .material-input input:not([type]):valid ~ .bar:before, .material-form .material-input input:not([type]):valid ~ .bar:after,
  .material-form .material-input input[type=text]:focus ~ .bar:before,
  .material-form .material-input input[type=text]:focus ~ .bar:after,
  .material-form .material-input input[type=text]:valid ~ .bar:before,
  .material-form .material-input input[type=text]:valid ~ .bar:after,
  .material-form .material-input input[type=password]:focus ~ .bar:before,
  .material-form .material-input input[type=password]:focus ~ .bar:after,
  .material-form .material-input input[type=password]:valid ~ .bar:before,
  .material-form .material-input input[type=password]:valid ~ .bar:after,
  .material-form .material-input input[type=email]:focus ~ .bar:before,
  .material-form .material-input input[type=email]:focus ~ .bar:after,
  .material-form .material-input input[type=email]:valid ~ .bar:before,
  .material-form .material-input input[type=email]:valid ~ .bar:after,
  .material-form .material-input input[type=url]:focus ~ .bar:before,
  .material-form .material-input input[type=url]:focus ~ .bar:after,
  .material-form .material-input input[type=url]:valid ~ .bar:before,
  .material-form .material-input input[type=url]:valid ~ .bar:after,
  .material-form .material-input input[type=time]:focus ~ .bar:before,
  .material-form .material-input input[type=time]:focus ~ .bar:after,
  .material-form .material-input input[type=time]:valid ~ .bar:before,
  .material-form .material-input input[type=time]:valid ~ .bar:after,
  .material-form .material-input input[type=date]:focus ~ .bar:before,
  .material-form .material-input input[type=date]:focus ~ .bar:after,
  .material-form .material-input input[type=date]:valid ~ .bar:before,
  .material-form .material-input input[type=date]:valid ~ .bar:after,
  .material-form .material-input input[type=datetime-local]:focus ~ .bar:before,
  .material-form .material-input input[type=datetime-local]:focus ~ .bar:after,
  .material-form .material-input input[type=datetime-local]:valid ~ .bar:before,
  .material-form .material-input input[type=datetime-local]:valid ~ .bar:after,
  .material-form .material-input input[type=tel]:focus ~ .bar:before,
  .material-form .material-input input[type=tel]:focus ~ .bar:after,
  .material-form .material-input input[type=tel]:valid ~ .bar:before,
  .material-form .material-input input[type=tel]:valid ~ .bar:after,
  .material-form .material-input input[type=number]:focus ~ .bar:before,
  .material-form .material-input input[type=number]:focus ~ .bar:after,
  .material-form .material-input input[type=number]:valid ~ .bar:before,
  .material-form .material-input input[type=number]:valid ~ .bar:after,
  .material-form .material-input input[type=search]:focus ~ .bar:before,
  .material-form .material-input input[type=search]:focus ~ .bar:after,
  .material-form .material-input input[type=search]:valid ~ .bar:before,
  .material-form .material-input input[type=search]:valid ~ .bar:after {
    background: #7de6c6 !important; }
  .material-form .material-input .bar:before, .material-form .material-input .bar:after {
    background: #7de6c6 !important; } }

/*# sourceMappingURL=style.css.map */
