.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.dialog {
 z-index: 1000;
  position: fixed;
  right: 0;
  left: 0;
  top: 60px;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  min-width: 320px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}


.dialog__close-btn {
  border: 0;
  background: none;
  color: #ffffff;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.2em;
}

.rectangle-top-desktop {
  width: 100%;
  height: 25.5px ;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #474971;
  display: flex;
  padding: 7px 12px;
  position: relative;
  }

.rectangle-top-mobile {
  display: none;
  }

.info-top{
  display: flex;
  font-family: Roboto;
  font-size: 8px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 1px 0px;
}

.info-top-description{}

.x-button {
  display: flex;
  height: 7px;
  padding: 2px 0px;
  position: absolute;
  right: 12px;
  cursor: pointer;

}
.x-img {
   width: 7px;
  height: 7px;
}

.Pagamento-para-Nome .text-style-1 {
  font-weight: 500;
  color: #ffffff;
}

.Pagamento-para-Nome {
  width: 124px;
  height: 9.5px;
  font-family: Roboto;
  font-size: 8px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #7de6c6;
  position: relative;
  vertical-align: middle;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border-bottom: 1px solid red;
  color: red;
}

.rectangle-container {
  padding: 10px 16px;
}

.input-div{
  width: 100%;}

.input-div-center{
   width: 100%;
  padding: 0;
}

.description{
  font-family: NunitoSans;
  font-size: 6px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #474971;
  cursor: default;
}

input {
  width: 100%;
  height: 11px;
  border: none;
  margin-bottom: 2px;
  font-family: NunitoSans;
  font-size: 8px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: black;

}

::placeholder { /* Most modern browsers support this now. */
   color:    #acb1bd;
}


.line-desktop {
  width: 100%;
  height: 1px;
  border: solid 0.5px;
  border-color: #dae1f0;
  margin-bottom: 10px;
  display: block;
}

line-mobile{
  display: none;
}

.button{
   display: flex;
  justify-content: center;
}


.button-center{
  min-width: 266px;
  width: 60%;
  height: 24px;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #b4f4e5, #7de6c6);
  margin-top: 12px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;

}

.text{
  font-family: Roboto;
  font-size: 7px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #474971;
}
@media (max-width: 768px) {

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .dialog {
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    background-image: linear-gradient(211deg, #3c3e64, #1d1e2a);

    border-radius: 0px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  }

  .rectangle-top-desktop {
  display: none;
  }

.rectangle-top-mobile {
  width: 100%;
  height: 25.5px ;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: transparent;
  display: flex;
  padding: 7px 12px;
  position: relative;
}
  .info-top {
    display: flex;
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 1px 0px;

  }

  .info-top-description {
    min-width: 59px;
  }

  .info-top-name {
    width: 250px;
    color: #7de6c6;
    padding-left: 3px;
  }

  .Pagamento-para-Nome .text-style-1 {
    font-weight: 500;
    color: #ffffff;
  }

  .x-button {
    display: flex;
    height: 7px;
    padding: 2px 0px;
    position: absolute;
    right: 12px;
    cursor: pointer;

  }

  .x-img {
    width: 7px;
    height: 7px;
  }

  .rectangle-container {
    position: relative;
    height: calc(100% - 41.5px);
    padding: 10px 16px;
  }

  .input-div{
  width: 100%;}

.input-div-center{
   width: 100%;
   padding: 0;
}

.description{
  font-family: NunitoSans;
  font-size: 6px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #7de6c6;
  cursor: default;
}

input {
  width: 100%;
  height: 11px;
  border: none;
  margin-bottom: 2px;
  font-family: NunitoSans;
  font-size: 8px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: white;
  background: transparent;

}

::placeholder { /* Most modern browsers support this now. */
   color:    #acb1bd;
}


.line-mobile {
  width: 100%;
  height: 1px;
  border: solid 0.5px;
  border-color: #dae1f0;
  margin-bottom: 10px;
  display: block;
}

.line-desktop{
  display: none;
}

.button{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0px ;
  left: 8px;
  right: 8px;
  min-width: 0;
  height: 48px;
  padding: 0 -10px;

}

.button-center{
  width: 100%;
  min-width: 0;
  height: 24px;
  border-radius: 12px;
  margin: auto auto;
  background-image: linear-gradient(to bottom, #b4f4e5, #7de6c6);
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 0;
  }
.arrow-comeback{

  color: #7de6c6;
  margin: auto 0;
}

.comeback{

  height: 8px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: auto 0 auto 2.5px;
  cursor: pointer;
}


}
