<section class="homeWrapper">
  <section class="mainList" ng-class="{modalIsActive: modalView.path != ''}">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="wrapper">
            <ul class="collection" id="listOfPeople">
              <li ng-repeat="person in people" class="collection-item avatar">
                <img ng-src="{{person.img}}" alt="" class="circle">
                <span class="title">{{person.name}}</span>
                <p>id: {{person.id}} {{person.username}}</p>
                <button class="secondary-content" ng-click="payThisPerson(person)">
                  <img class="" src="./build/img/pagar.svg" alt="" height="28" /> <span class="hide-on-small-only pay-text">pagar</span>
                  <img class="" src="./build/img/down.svg" alt="" height="28" />
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="modalToShowViews-Wrapper" ng-show="modalView.path != ''">
    <section class="modalToShowViews">
      <div class="animate-switch-container" ng-switch on="modalView.path">
        <div class="animate-switch sample-show-hide" ng-switch-when="payment" >
          <div ng-include="'views/payment.html'"></div>
        </div>
        <div class="animate-switch sample-show-hide" ng-switch-when="mycards" >
          <div ng-include="'views/mycards.html'"></div>
        </div>
        <div class="animate-switch sample-show-hide" ng-switch-when="card" >
          <div ng-include="'views/card.html'"></div>
        </div>
        <div class="animate-switch sample-show-hide" ng-switch-when="receipt" >
          <div ng-include="'views/receipt.html'"></div>
        </div>
        <div class="animate-switch sample-show-hide" ng-switch-default></div>
      </div>
    </section>
  </section>
</section>