<section class="mycards pos-relative defaultGradientBg defaultHeight" ng-controller="myCardsCtrl">
	<aside class="modalToShowViewsHeader hide-on-small-only" ng-click="setModalView('')">
		<p>Selecionar cartão <i class="small material-icons right">close</i></p>
	</aside>

	<div class="container">
		<div class="row">
			<div class="col s12">
				<p class="hide-on-med-and-up"><a href="javascript:void(0)" ng-click="setModalView('')" class="goBack"><i class="small material-icons">chevron_left</i> Voltar</a></p>
			</div>

			<div class="col s10 offset-s1">
				<h2>Cartões Cadastrados</h2>
			</div>
		</div>
	</div>

	<ul class="myCardsList scrollableArea">
		<li class="myCardsList-item" ng-repeat="card in creditCards" ng-click="targetThisCard(card, $index)" ng-class="{active: card.is_selected}">
			<span class="cardInfoWrapper">
				<div class="app-icon greenCard"></div> {{card.card_number}} 
				<!-- O botão abaixo serve pra apagar um cartão da lista. Não mantive no layout pois não era a melhor solução de UI e não estava previsto no layout de vocês, mas se precisarem usar é só descomentar ele.
				<button class="btn-flat" ng-click="deleteThisCard($index)">
					<i class="material-icons">clear</i>
				</button> 
				-->
				<img ng-src="./build/img/check-mark.svg" class="responsive-img checked right" height="20" ng-if="card.is_selected">
			</span>
		</li>
	</ul>

	<div class="container">
		<div class="row">
			<div class="col s12">
				<a href="javascript:void(0)" class="newCard" ng-click="setModalView('creditcard')">
					<div class="app-icon plus"></div> Cadastrar novo cartão
				</a>
			</div>
		</div>
	</div>

	<aside class="actions">
		<button class="btn callToAction teal giant hide-on-med-and-up" ng-click="chooseCard()">Selecionar Cartão</button>
		<div class="container hide-on-small-only">
			<div class="row">
				<div class="col s12">
					<a class="btn callToAction left" href="javascript:void(0)" ng-click="setModalView('payment')">Voltar</a>
					<button class="btn callToAction teal right" ng-click="chooseCard()">Selecionar Cartão</button>
				</div>
			</div>
		</div>
	</aside>
</section>