.nomeModal {
  color: #7de6c6;
}

  
.espacoTop {
  padding-top: 10px;
}

.input {
  font-size: 200%;
}

input,
input::-webkit-input-placeholder {
  font-size: 120%;
  line-height: 2;
  text-align: center;
}

  input[type="number"] {
    font-size: 120%;
  }


.Rectangle-5-Copy {
  border-radius: 1%;
  background: #474971;
}

.topModal {
  padding-left: 5%;
}

.name {
  font-family: Roboto;
  font-size: 120%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #474971;
}

.textModal {
  padding-top: 4%;
}

.alert {
  font-family: Roboto;
  text-align: left;
  color: #ef5778;
  margin-bottom: 0px;
  font-size: 12px;
}


.name-copy-4 {
  font-family: Roboto;
  margin-bottom: 0px;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  color: #474971;
  text-align: left;
}

.botao {
  background: linear-gradient(to right, #b4f4e5, #7de6c6);
  color: black;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
  .name {
    font-family: Roboto;
    font-size: 120%;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: white;
  }


  .name-copy-4 {
    font-family: Roboto;
    margin-bottom: 0px;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    color: white;
    text-align: left;
  }
}
