$color-purple: #3c3e64;
$color-purple-dark: #1d1e2a;
$color-purple-light: #474971;

$color-cyan: #7de6c6;
$color-cyan-light: #b4f4e5;

@mixin linear-gradient($from, $to, $direction: horizontal vertical) {
  background-color: $from;

  @if $direction == horizontal {
    background: linear-gradient(to right, $from 0%, $to 100%);
  }

  @if $direction == vertical {
    background: linear-gradient(to bottom, $from 0%, $to 100%);
  }
}
