$primary: #3c3e64;
$primary-dark: #1d1e2a;
$primary-light: #474971;

$accent: #7de6c6;
$accent-light: #b4f4e5;

$danger: #ef5778;

@mixin linear-gradient($from, $to, $direction: horizontal vertical) {
  background-color: $from;

  @if $direction == horizontal {
    background: linear-gradient(to right, $from 0%, $to 100%);
  }

  @if $direction == vertical {
    background: linear-gradient(to bottom, $from 0%, $to 100%);
  }
}

[color="primary"] {
  color: $primary;
}
