aside.navbarPicpay {
	background: $light-teal;
	padding: 10px .75rem;

	.logo {
		color: #fff;
		font-weight: bold;
		font-size: 13px;
	}

	.subtext {
		color: $dusk-two;
		font-family: $fontMont;
		font-weight: 500;
		font-size: 13px;
	}
}

html {
	height: 100%;
}

input[type='text'], input[type='number'] {
	font-family: $fontNunito;
	color: #fff;
	padding-bottom: 10px;
	border-color: $dusk-two;
	display: block;
	-moz-appearance: textfield;
}

.goBack {
	color: #fff;
	font-weight: 400;

	i {
		color: $light-teal;
		vertical-align: middle;
		margin: 0 0 4px 0;
	}
}

.noMargin {
	margin-bottom: 0;
}

.pos-relative {
	position: relative;
}

.defaultHeight {
	min-height: calc(100vh - 40.8px);
	height: 100%;
}

.defaultGradientBg {
	background: $quase-preto; /* browsers antigos */
	background: -moz-linear-gradient(top, $quase-preto 0%, $dusk-one 100%);
	background: -webkit-linear-gradient(top, $quase-preto 0%,$dusk-one 100%);
	background: linear-gradient(to bottom, $quase-preto 0%,$dusk-one 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$quase-preto, endColorstr=$dusk-one,GradientType=1 );
}

.callToAction {
	font-weight: 500;
	text-transform: uppercase;
	padding: 8px 0;
	height: auto;
	border-radius: 24px;

	&.teal {
		background: $duck-egg-blue; /* browsers antigos */
		background: -moz-linear-gradient(top, $duck-egg-blue 0%, $light-teal 100%);
		background: -webkit-linear-gradient(top, $duck-egg-blue 0%,$light-teal 100%);
		background: linear-gradient(to bottom, $duck-egg-blue 0%,$light-teal 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$duck-egg-blue, endColorstr=$light-teal,GradientType=1 );

		color: $dusk-two;
	}
	&.giant {
		width: 100%;
	}
}

.actions {
	width: 100%;
	padding: 0 20px 4px;
	position: absolute;
	bottom: 20px;

	.messages {
		padding-top: 20px;
		border-top: 1px solid $white-one;

		@media screen and (min-height: $min-height-xs) {
			border-color: transparent;	
		}

		p {
			font-weight: 300;
			-webkit-margin-before: 0px;
			-webkit-margin-after: 0px;

			b {
				font-weight: 500;
			}
		}

		a {
			text-decoration: underline;
		}

		img {
			border: none;
			display: table;
			margin: 0 0 0 auto;
		}

		&.danger {
			p, a {
				color: $medium-pink;	
			}
		}

		&.info {
			p, a {
				color: $white-one;	
			}

			a {
				text-decoration: none;
			}
		}
	}
}