.mainList {

    &.modalIsActive {
        height: calc(100vh - 40.8px);
        overflow: hidden;

        @media screen and (min-width: $break-sm) {
            height: auto;
        }
    }

    .container {
        @media screen and (max-width: $break-sm) {
            width: 100%;
        }
    }

    .row .col {
        padding: 0;

        @media screen and (min-width: $break-sm) {
            padding: 0 0.75rem;
        }
    }

    .collection {
        margin: 0;

        @media screen and (min-width: $break-sm) {
            border: none;
        }

        .collection-item {
            background: $quase-preto; /* browsers antigos */
            background: -moz-linear-gradient(left, $quase-preto 0%, $dusk-one 100%);
            background: -webkit-linear-gradient(left, $quase-preto 0%,$dusk-one 100%);
            background: linear-gradient(to right, $quase-preto 0%,$dusk-one 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$quase-preto, endColorstr=$dusk-one,GradientType=1 );

            @media screen and (min-width: $break-sm) {
                padding: 20px 40px;
                display: inline-block;
                height: auto;
                width: 100%;
                line-height: unset;
                margin: -4px 0 0 0;
                border-bottom: none;
            }

            &.avatar {
                min-height: unset;

                &:not(.circle-clipper)>.circle, &:not(.circle-clipper)>.circle {
                    border: 2px solid $white-one;

                    @media screen and (min-width: $break-sm) {
                        height: 80px;
                        width: 80px;
                        position: relative;
                        float: left;
                    }
                }

                .secondary-content {
                    @media screen and (min-width: $break-sm) {
                        position: relative;
                        top: unset;
                        right: unset;
                        margin: 25px 0 0 0;
                    }
                }
            }

            .personTxtWrapper {
                @media screen and (min-width: $break-sm) {
                    float: left;
                    margin: 10px 30px;
                }
            }

            span.pay-text, span.title, p {
                color: $white-one;
            }

            span.pay-text {
                text-transform: uppercase;
                font-size: 20px;
                vertical-align: top;
                display: inline-block;
                margin: 3px 5px 0;
            }

            span.title {
                font-weight: bold;

                @media screen and (min-width: $break-sm) {
                    font-size: 24px;
                }
            }

            p {
                color: $white-one;
                font-size: 12px;
            }

            button {
                background: transparent;
                border: none;
            }
        }
    }
}