.payment {
	
	.circle {
		border: 2px solid $white-one;
	}

	.subText, span.title {
		color: $white-one;

		@media screen and (min-width: $break-sm) {
			color: $dusk-two;
		}
	}

	.subText {
		-webkit-margin-before: 5px;
		-webkit-margin-after: 1em;
	}

	span.title {
		font-weight: bold;
		font-size: 24px;

		@media screen and (min-width: $break-sm) {
			
		}
	}

	input.paymentValue {
		font-size: 48px;
		text-align: center;
		margin-top: 40px;
	}
}