// @import '~@angular/material/theming';
@import '../../scss/colors';

/deep/ .mat-dialog-container {
  padding: 0;

  .mat-toolbar {
    height: 52px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: $primary-light;

    strong {
      color: $accent;
    }
  }

  .mat-dialog-content,
  .mat-dialog-actions {
    margin: 0;
  }

  .mat-dialog-content {
    padding: 10px 50px 0;
  }

  .mat-dialog-actions {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    .mat-button {
      width:100%;
      border-radius: 20px;
      text-transform: uppercase;
      color: $primary;
      @include linear-gradient($accent-light, $accent, vertical);
    }
  }
}

/deep/ .mat-stepper-horizontal {
  .mat-horizontal-stepper-header-container {
    display: none;
  }

  .mat-horizontal-content-container {
    padding: 0;
  }
}

.mat-list-item {
  color: $primary-light;
  .mat-list-avatar {
    width: auto;
    height: 65px;
  }

  h3 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
  }
}

.mat-input-container.payment {
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
  color: $primary-light;

  /deep/ .mat-input-infix {
    border-top: 0;
    width: 270px;
  }

  /deep/ label:not(.mat-focused) {
    color: #d8d8d8;
  }

  /deep/ &.mat-focused label {
    color: $primary-light;
  }
}

.mat-nav-list {
  .mat-list-item {
    color: $danger;
  }
  .mat-line {
    font-size: 14px;
  }
}
