/* Geral */

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


/* Personalizado */

.modal {
    font-family: 'Roboto', sans-serif;

    .modal-content {
        padding: 0;
        border-radius: .3rem;
        width: 80%;
        max-width: 640px;
        background-color: #fff;
        margin: 15vh auto;

        /* Estrutura */
        .modal-header {
            background: $azul;
            font-size: 16px;
            border-top-left-radius: .3rem;
            border-top-right-radius: .3rem;

            .modal-title {
                font-size: 16px;
                color: white;
                margin: 15px 20px;

                .nomeUsuario {
                    color: $verde;
                }
            }

            .fechar.xis {
                color: white;
                float: right;
                font-size: 28px;
                margin: 5px 15px;

                &:hover,
                    &:focus {
                    color: darken(white, 10%);
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            
            .voltarModal {
                display: none;
            }
        }

        .modal-body {
            overflow: auto;
        }

        .modal-body,  
        .modal-footer {
            border-bottom-left-radius: .3rem;
            border-bottom-right-radius: .3rem;
        }

        /* Elementos */
        h5 {
            font-size: 18px;
            text-align: center;
        }

        button {
            margin: 20px auto;
            width: 90%;
            border-radius: 24px;
            line-height: 40px;
            font-size: 14px;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;

            &.acao {
                background-image: linear-gradient(to bottom, #b4f4e5, #7de6c6);
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
                border: none;
            }

            &.voltar {
                border: 1px solid $azul;
                background: white;
            }
        }

        .dadosUsuario {
            margin: 0 auto;
            padding: 25px 0;
            color: $azul;
        }
    }
}

.modalUsuario {

    form {
        margin: 10px auto;

        input {
            display: block;
        }

        input[type="number"] {
            border-bottom: 2px solid #474970;
            font-size: 48px;
            text-align: center;
            max-width: 50%;
            margin: 0 auto;
            font-family: 'Nunito Sans', sans-serif;

            &::placeholder {
                color: $cinza;
                font-family: 'Nunito Sans', sans-serif;
            }
        }
    }

    .modal-footer {

        > .flex {
            border-top: 1px solid $cinza;
        }

        .flex {
            margin: 0 auto;
            margin-top: 40px;
            padding-top: 20px;
            width: 90%;
        }

        .aviso {
            float: left;
            margin: 0 auto;
            color: $vermelho;
            font-size: 14px;

            .aviso-icone {
                position: relative;
                float: left;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                border-radius: 50%;
                background: $vermelho;
                color: white;
                font-weight: 600;

                &:before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    content: "!";
                    font-size: 14px;
                    font-weight: 700;
                }
            }

            .aviso-chamada {
                font-weight: bold;
                text-decoration: underline;
            }

            .cadastrarCartao {
                cursor: pointer;

                &:hover {
                    color: darken($vermelho, 10%);
                    text-decoration: none;
                }
            }
        }

        .infoCartao {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center !important;
            -ms-flex-align: center !important;
            align-items: center !important;
            width: auto;
            margin: 0 auto;
            font-size: 14px;
            cursor: pointer;
        }

        #enviarValor {

            &.inativo {
                background: #f2f2f2;
                box-shadow: none;
                color: #bfbfbf;
            }
        }
    }
}


.modalCadastroCartao {

    #cartValidade {
        border-color: $cinza;
    }

    #enviarCartao {
        display: block;
    }

}


.modalExibirCartoes {

    ul {
        list-style: none;
        padding: 0;
        overflow: auto;

        li {

            &.ativo {
                background-color: rgba(125, 230, 198, 0.24);
            }

            .item {
                margin: 0 auto;
                padding: 20px 0;
                text-align: center;
                color: $azul;

                .flex {
                    margin: 0 auto;
                }

                .fa-credit-card {
                    margin-right: 15px;
                    font-size: 22px;
                }

                .fa-check {
                    margin-left: 15px;
                    color: $verde;
                }
            }
        }
    }

    #selecionarCartao {
        display: block;
        margin-top: 150px;
    }
}


.modalRecibo {
    color: $azul;

    .infosRecibo {
        margin-bottom: 100px;

        > div {
            width: 50%;
            min-width: 250px;
            margin: 20px auto 0 auto;
            padding-bottom: 5px;
            border-bottom: 1px solid $cinza;
            font-size: 14px;
            
            @extend .flex;
            @extend .flex-justificar;

            span:last-child {
                font-weight: bold;
            }
        }
    }

    h5 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .modal-footer {
        /*width: 50%;*/
        /*min-width: 250px;*/
        padding-bottom: 30px;

        button {
            margin: 0 auto;
            width: auto;
            padding: 5px 25px;

            &:first-child {
                margin-right: 10px;
                min-width: 180px;
            }

            &:last-child {
                margin-left: 10px;
            }
        }
    }
}

