// --- Roboto Family ---

@font-face {
  font-family: roboto-black;
  src: url("/fonts/Roboto-Black/Roboto-Black.eot");
  src: url("/fonts/Roboto-Black/Roboto-Black.svg");
  src: url("/fonts/Roboto-Black/Roboto-Black.ttf");
  src: url("/fonts/Roboto-Black/Roboto-Black.woff");
}

@font-face {
  font-family: roboto-bold;
  src: url("/fonts/Roboto-Bold/Roboto-Bold.eot");
  src: url("/fonts/Roboto-Bold/Roboto-Bold.svg");
  src: url("/fonts/Roboto-Bold/Roboto-Bold.ttf");
  src: url("/fonts/Roboto-Bold/Roboto-Bold.woff");
}

@font-face {
  font-family: roboto-italic;
  src: url("/fonts/Roboto-Italic/Roboto-Italic.eot");
  src: url("/fonts/Roboto-Italic/Roboto-Italic.svg");
  src: url("/fonts/Roboto-Italic/Roboto-Italic.ttf");
  src: url("/fonts/Roboto-Italic/Roboto-Italic.woff");
}

@font-face {
  font-family: roboto-regular;
  src: url("/fonts/Roboto-Regular/Roboto-Regular.eot");
  src: url("/fonts/Roboto-Regular/Roboto-Regular.svg");
  src: url("/fonts/Roboto-Regular/Roboto-Regular.ttf");
  src: url("/fonts/Roboto-Regular/Roboto-Regular.woff");
}
