// colors
$duckEggBlue: #b4f4e5;
$whiteTwo: #d8d8d8;
$mediumPink: #ef5778;
$duskTwo24: rgba(71, 73, 113, 0.24);
$coolGrey: #acb1bd;
$black: #000000;
$pineGreen: #05181c;
$white10: rgba(255, 255, 255, 0.1);
$white24: rgba(255, 255, 255, 0.24);
$lightTealTwo: #a1f0da;
$das: #1d1e2a;
$duskTwo: #474971;
$dusk: #3c3e64;
$lightTeal24: rgba(125, 230, 198, 0.24);
$riptide: #7de6c6;
$white: #ffffff;