.btn {
  font-family: Roboto;
  background: Transparent;
  border: none;
  cursor:pointer;
  padding: 0px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(259deg, #3c3e64, #1d1e2a);
}

.modal .header{
  display: none;
}

.modal .back-button {
  align-self: flex-start;
  margin-top: 4.3%;
  margin-right: auto;
  margin-bottom: 7.5%;
  margin-left: 6%;
}

.back-button .btn{
  height: 16px;
  font-size: 14px;
  color: #ffffff;
}

.button-icon{
  height: 16px;;
  font-size: 14px;
  color: #7de6c6;
}

@media only screen and (min-width: 768px) {
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 640px;
    height: 472px;
    margin-top: 100px;
    border-radius: 6px;
    background-color: #ffffff;
    background-image: none;
  }

  .modal .header{
    display: flex;
    align-items: center;
    height: 51px;
    width: 100%;
    background-color: #474971;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  .close-button{
    margin-right: 24px;
    margin-left: auto;
    height: 14px;
  }

  .close-button button{
    height: 14px;
  }

  .modal .back-button {
    display: none;
  }

}
