.btn {
  font-family: Roboto;
  background: Transparent;
  border: none;
  cursor:pointer;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(259deg, #3c3e64, #1d1e2a);
}

.modal .back-button {
  align-self: flex-start;
  margin-top: 4.3%;
  margin-right: auto;
  margin-bottom: 7.5%;
  margin-left: 6%;

}

.back-button .btn{
  height: 16px;
  font-size: 14px;
  color: #ffffff;
}

.button-icon{
  height: 16px;;
  font-size: 14px;
  color: #7de6c6;
}
