.payment-window{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(259deg, #3c3e64, #1d1e2a);
}

.payment-window input{
  width: 172px;
  height: 66px;
  font-size: 48px;
  color: #d8d8d8;
  background: Transparent;
  border: none;
}

.payment-window .user-data{
  margin: 60px 45px 40px;
}

.payment-window .user-img{
  width: 80px;
  height: 80px;
}

.payment-window .user-name{
  height: 28px;
  font-size: 24px;
  font-weight: bold;
}

.pay-button{
  margin: auto 16px 24px;
}

.back-button{
  align-self: flex-start;
}

.pay-button .btn{
  width: 343px;
  height: 48px;
  border-radius: 24px;
  background-image: linear-gradient(to bottom, #b4f4e5, #7de6c6);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border: none;
}
