.user-panel{
  display: flex;
  align-items: center;
  background-image: linear-gradient(259deg, #3c3e64, #1d1e2a);
  box-shadow: 0 1px 0 0 #ffffff, 0 -1px 0 0 #ffffff;
}
.user-panel .payment-button{
  margin-left: auto;
}
.user-panel .user-data{
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #ffffff;
}
.user-data{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #ffffff;
}
.btn{
  background: Transparent;
  border: none;
  cursor:pointer;
}
.payment-button{
  display: flex;
  align-items: center;
}
.user-img{
  width: 52px;
  height: 52px;
  border: solid 1px #ffffff;
  border-radius: 50%;
}
.user{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 8px;
}
.user-name{
  height: 19px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: bold;
}
.user-info span{
  padding-right: 12px;
  font-size: 12px;
}
picture{
  display: flex;
  align-items: center;
}
