@import '~normalize.css/normalize.css';
@import '~@angular/material/theming';

@include mat-core();

$color-primary: mat-palette($mat-indigo);
$color-accent : mat-palette($mat-teal, 200, 100, 600);
$color-warn : mat-palette($mat-red);

$theme: mat-light-theme($color-primary, $color-accent, $color-warn);

@include angular-material-theme($theme);
