<section class="list-users">
  <article class="item-user" *ngFor="let user of users">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <img src="{{ user.img }}" alt="" class="avatar-user img-fluid rounded-circle">
          <div class="info-user">
            <span class="nome-user">{{ user.name }}</span>
            <span class="id-user">id: {{ user.id }} - {{ user.username }}</span>
          </div>
        </div>
        <div class="col-md-4">
          <a href="#" class="btn-enviar">
            <span class="dolar">$</span> Pagar
          </a>
        </div>
      </div>
    </div>
  </article>
</section>