<mz-modal #bottomSheetModal [fixedFooter]="true" [options]="modalOptions">
    <mz-modal-header>
      <nav class="Rectangle-5-Copy">
        <div class="row">
          <div class="col s6 topModal">
            <span>Cadastro Cartão de Crédito</span>
          </div>
          <div class="col s6 right-align fix iconx">
            <button class="iconx" mz-button mz-modal-close [flat]="true"><i mz-icon [icon]="'close'" [size]="'large'"></i></button>
          </div>
        </div>
      </nav>
    </mz-modal-header>
    <mz-modal-content>
      <form [formGroup]="cartaoForm">
        <div class="container">
          <mz-select-container>
            <select mz-select
                    id="options-select"
                    [placeholder]="'Selecione a bandeira'"
                    formControlName="bandeira">
              <option data-icon="https://image.flaticon.com/icons/svg/196/196561.svg" class="left" value="master">Master Card</option>
              <option data-icon="https://image.flaticon.com/icons/svg/196/196578.svg" class="left" value="visa">Visa</option>
            </select>
          </mz-select-container>


          <mz-input-container>
            <input mz-input type="text" [label]="'Nome escrito no cartão'" length="150" formControlName="nome">
          </mz-input-container>

          <mz-input-container>
            <input maxlength="16" mz-input type="text" [label]="'Número do Cartão'" length="16" formControlName="numero">
          </mz-input-container>

          <mz-input-container>
            <input mz-input type="text" [label]="'Validade (mm/aaaa)'" length="7" formControlName="validade">
          </mz-input-container>

          <mz-input-container>
            <input maxlength="3" mz-input type="text" [label]="'Código de segurança'" length="3" formControlName="codigo">
          </mz-input-container>

          <mz-input-container>
            <input mz-input type="text" [label]="'CEP do endereço da fatura'" length="7" formControlName="cep">
          </mz-input-container>

        </div>
      </form>
    </mz-modal-content>
    <mz-modal-footer>
      <div class="container">
        <div class="row">
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <button  (click)="save()" mz-button mz-modal-close class="center-align cadastrar" style="width: 376px;">Cadastrar</button>
            {{cartaoForm.value | json}}
          </div>
        </div>

      </div>
    </mz-modal-footer>
  </mz-modal>



