<mz-modal #bottomSheetModal [fixedFooter]="true" [options]="modalOptions"  [bottomSheet]="!(smallResolution | async) ? '' : true" [fullscreen]="!(smallResolution | async) ? '' : true">
    <mz-modal-header>
      <nav class="Rectangle-5-Copy">
        <div class="row">
          <div class="col s10 topModal">
            <span>Lista Cartão de Crédito</span>
          </div>
          <div class="col s2 right-align">
            <a href="#" mz-modal-close> <i mz-icon [icon]="'close'" [size]="'large'"></i></a>
          </div>
        </div>
      </nav>
    </mz-modal-header>
    <mz-modal-content>
        <div>
          <div class="name-copy-7-top"><b> Cartões Cadastrados</b></div>
          <ng-container *ngFor="let cartao of cartoes; let i = index" >
            <a href="#" (click)="seleciona(i)">

              <div class="row selected" [class.selected]="i==cartaoSelecionado">
                <div [className]="!(smallResolution | async) ? 'col s5 right-align' : 'col s4 right-align'" >
                  <i mz-icon [align]="'right'" [icon]="'credit_card'" [size]="'small'" class="cor"></i>
                </div>
                <div style="padding-right: 0px;"  [className]="!(smallResolution | async) ? 'col s3 listaCard' : 'col s5 listaCard'">
                  <b class="name-copy-7-bot">{{cartao.card_number}}</b>
                </div>
                <div *ngIf="i==cartaoSelecionado" class="col s1 left-align" style="padding-left: 0px;">
                  <i class="material-icons">done</i>
                </div>
              </div>
            </a>
          </ng-container>
        </div>
    </mz-modal-content>
    <mz-modal-footer>
      <div class="container">
        <a href="#" mz-modal-close (click)="openServiceModal('cartao')">
          <div class="row"  style="margin-bottom: 10px;">
            <div [className]="!(smallResolution | async) ? 'col s5 plus' : 'col s4 plus'">
              <i mz-icon [icon]="'add'"></i>
            </div>
            <div class="col s7 " style="padding-left: 0px;">
              <div class="name-copy-7-bot"><b> Cadastrar novo Cartão</b></div>
            </div>
          </div>
        </a>
          <div class="row" style="margin-bottom: 0px;">
            <div class="col s12 center-align" >
              <button (click)="salvaSelecionado()" mz-modal-close mz-button class="center-align cadastrar" style="width: 100%;">Selecionar</button>
            </div>
          </div>

        </div>
    </mz-modal-footer>
  </mz-modal>



