.list {
  max-width: 740px;
  margin: auto;
}

%list-item {
  .md-ink-container {
    display: none;
  }
  .md-fake-btn {
    cursor: auto !important;
  }
}

.list-item--main {
  @extend %list-item;
  background-image: linear-gradient(264deg, #3c3e64, #1d1e2a);
  box-shadow: 0 1px 0 0 #ffffff, 0 -1px 0 0 #ffffff;
  .md-text, .md-text--secondary, i, a {
    color: #ffffff;
  }
}

.list-item--user-tag {
  @extend %list-item;
  .md-fake-btn {
    background: white !important;
  }
  .md-tile-text--primary {
    font-weight: bold;
  }
  .md-text, .md-text--secondary {
    color: $md-primary-color;
  }
}

.avatar {
  border: solid 2px #ffffff !important;
}

.button--primary {
  color: $md-primary-color;
  background-image: linear-gradient(to bottom, $duck-egg-blue, $md-secondary-color);
  font-weight: bold;
  border-radius: 24px;
}

.dialog {
  width: 100%;
  @media (min-width: 720px) {
    width: 640px;
  }
  .md-dialog-content--padded {
    padding: 0;
  }
}

.dialog__header {
  background-color: $md-primary-color;
}

.dialog__content {
  padding: 0 40px;
}

.dialog__footer {
  padding-top: 24px;
  padding-bottom: 24px;
}

.dialog-button--only-one {
  margin: 0 54px;
  width: calc(100% - 108px);
}

.error {
  color: $md-error-color;
}

.divider {  
  height: 1px;
  background-color: #d8d8d8;
  width: 100%;
  margin: 20px 0;
}

$quantity-field-size: 256px;
.quantity-field {
  width: $quantity-field-size;
  .md-text-field-message--active {
    text-align: center;
  }
}
$quantity-input-size: 172px;
.quantity-input {
  font-size: 48px;
  width: 172px;
  text-align: end;
  margin-left: ($quantity-field-size - $quantity-input-size) / 2;
  color: $md-primary-color;
}