.list {
  max-width: 740px;
  margin: auto;
}

.list-item {
  background-image: linear-gradient(264deg, #3c3e64, #1d1e2a);
  box-shadow: 0 1px 0 0 #ffffff, 0 -1px 0 0 #ffffff;
  .md-text, .md-text--secondary, i {
    color: #ffffff;
  }
}

.avatar {
  border: solid 2px #ffffff !important;
}

.flexbox-center {  
  display: flex;
  align-items: center;
}
