.list {
  max-width: 740px;
  margin: auto;
}

%list-item {
  .md-ink-container {
    display: none;
  }
  .md-fake-btn {
    cursor: auto !important;
  }
}

.list-item--main {
  @extend %list-item;
  background-image: linear-gradient(264deg, #3c3e64, #1d1e2a);
  box-shadow: 0 1px 0 0 #ffffff, 0 -1px 0 0 #ffffff;
  .md-text, .md-text--secondary, i, a {
    color: #ffffff;
  }
}

.avatar {
  border: solid 2px #ffffff !important;
}

.button--primary {
  color: $md-secondary-color;
  background-image: linear-gradient(to bottom, $duck-egg-blue, $md-primary-color);
  font-weight: bold;
  border-radius: 24px;
}

.dialog {
  width: 100%;
  @media (min-width: 720px) {
    width: 640px;
  }
}

.dialog__header {
  background-color: $md-secondary-color;
}

.dialog__footer {
  padding-top: 24px;
  padding-bottom: 24px;
}

.dialog-button--only-one {
  margin: 0 54px;
  width: calc(100% - 108px);
}
