.top-header{
  width: 100%;
  height: 80px;
  background-color: #7de6c6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  z-index: 9999;
}

.top-header > div{
  display: flex;
}

body{
  font-size: 62.5%;
}

p{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #474971;
}

.wrap{
  width: 1054px;
  margin: 0 auto;
}

@media screen and (max-width: 1070px){
  .wrap{
    width: 100%;
  }
  .top-header{
    padding: 20px;
  }
}

@media screen and (max-width: 800px){
  body{
    font-size: 50%;
  }
}

.title-text{
  margin-top:5px;
}
