.user-box{
  width: 100%;
  height: 120px;
  padding: 20px 40px;
  background-image: linear-gradient(264deg, #3c3e64, #1d1e2a);
  box-shadow: 0 1px 0 0 #ffffff, 0 -1px 0 0 #ffffff;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-box > div{
  display: flex;
  align-items: center;
}

.user-avatar{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: solid 2px #ffffff;
  background-size: contain;
}

.user-info{
  margin-left: 16px;
}

.user-title{
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.user-id{
  display: flex;
  margin-top: 8px;
}

.user-id p{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.user-id p:first-child{
  margin-right: 16px;
}

.add-payment {
  display: block;
  width: 73px;
  height: 73px;
  background-image: url('../images/pagar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  font-size: 0;
}

.btn-select-contact{
	font-family: Roboto;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
}

.btn-select-contact:hover, .btn-select-contact:enabled, .btn-select-contact:active, .btn-close-modal{
	cursor: pointer;
	outline: none;
}

.icon-arrow{
	width: 32px;
  height: 32px;
	margin-left: 15px;
	background: url(../images/down.svg);
}
