html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, svg {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.top-header{
  width: 100%;
  height: 80px;
  background-color: #7de6c6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  z-index: 9999;
}

.top-header > div{
  display: flex;
}

p{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #474971;
}

.wrap{
  width: 1054px;
  margin: 0 auto;
}

@media screen and (max-width: 1054px){
  .wrap{
    width: 100%;
  }
}

.line-divider{
  width: 2px;
  height: 32px;
  background-color: #474971;
  margin: 0 15px;
}

.title-text{
  margin-top:5px;
}

.user-box{
  width: 100%;
  height: 120px;
  padding: 20px 40px;
  background-image: linear-gradient(264deg, #3c3e64, #1d1e2a);
  box-shadow: 0 1px 0 0 #ffffff, 0 -1px 0 0 #ffffff;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-box > div{
  display: flex;
  align-items: center;
}

.user-avatar{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: solid 2px #ffffff;
  background-size: contain;
}

.user-info{
  margin-left: 16px;
}

.user-title{
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.user-id{
  display: flex;
  margin-top: 8px;
}

.user-id p{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.user-id p:first-child{
  margin-right: 16px;
}

.add-payment {
  display: block;
  width: 73px;
  height: 73px;
  background-image: url('../images/pagar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  font-size: 0;
}

.modal{
	position: absolute;
	z-index: 9999;
	top: 0;
	background-color: #fff;
	padding: 20px;
	width: 500px;
	height: 200px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -100px;
}
