.modal{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -320px;
	margin-top: -237px;
	outline: none;
}

.modal-box{
	position: absolute;
	z-index: 9999;
	background-color: #fff;
	left: 50%;
	top: 50%;
	border-radius: 6px;
	outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-payment{
	width: 640px;
	height: 472px;
	margin-left: -320px;
	margin-top: -237px;
}

.modal-card{
	width: 640px;
	height: 550px;
	margin-left: -320px;
	margin-top: -275px;
}

.modal-confirm{
	width: 640px;
	height: 590px;
	margin-left: -320px;
	margin-top: -295px;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width:800px){
	.modal-box{
		background-image: linear-gradient(211deg, #3c3e64, #1d1e2a);
  	box-shadow: 0 1px 0 0 #ffffff, 0 -1px 0 0 #ffffff;
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
		margin-left: 0;
		margin-top: 0;
		border-radius: 0;
	}
}
