/*Modal*/
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50;
}

.botao {
  outline: none;
  cursor: pointer;
  border-radius: 24px;
  background-image: linear-gradient(to bottom, #b4f4e5, #7de6c6);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #474971;
}
