/*Modal*/
.modalNenhumCartao{
  background-color: #fff;
  border-radius: 6px;
  max-width: 640px;
  height: 472px;
  margin: 7% auto;
}

.pagamentoParaNome {
  display: inline;
  margin-left: 24px;
  width: 248px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.pagamentoParaNome div {
  display: inline;
  font-weight: bold;
  color: #7de6c6;
}


.R-000 {
  max-width: 250px;
  min-width: 172px;
  height: 66px;
  caret-color: #7de6c6;
  border: none;
  border-color: transparent;
  background-color: transparent;
  font-family: Nunito Sans;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #d8d8d8;
}

.R-000::placeholder{
  font-family: Nunito Sans;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #d8d8d8;
}

.divisoria {
  width: 256px;
  height: 2px;
  margin-left: 192px;
  background-color: #474971;
}

.divisoria-2 {
  width: 560px;
  height: 1px;
  margin-left: 40px;
  margin-top: 56px;
  background-color: #d8d8d8;
}


.containerDinheiro{
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.msgAviso {
  display: inline;
  margin-left: 12px;
  height: 32px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ef5778;
}

.msgAviso div {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.avisoCadastro{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.alert {
  margin-top: 6px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.modalNenhumCartao .botao {
  width: 532px;
  height: 48px;
  margin-left: 54px;
  margin-top: 24px;
}

/*Mobile*/
@media only screen and (max-width: 768px) {
    .modalNenhumCartao{
      margin: auto;
      width: 100vw;
      height: 100vh;
      background-image: linear-gradient(211deg, #3c3e64, #1d1e2a);
      box-shadow: 0 1px 0 0 #ffffff, 0 -1px 0 0 #ffffff;
    }

    .pagamentoParaNome {
      display: none;
    }


    .divisoria-2 {
      margin-top: 30vh;
      margin-right: 10px;
      margin-left: 0;
      width: 327px;
    }

    .divisoria {
      margin-left: 0;
    }

    .modalNenhumCartao .botao {
      width: 91%;
      margin-left: 0;
      margin-right: 10px;
    }

    .containerFlex{
      display: flex;
      justify-content: center;
    }

}
