.modalAviso{
  background-color: #fff;
  border-radius: 6px;
  max-width: 640px;
  height: 300px;
  margin: 12% auto;
}



.containerAviso{
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #474971;
}

.containerAviso span{
  margin-top: 85px;
}

@media only screen and (max-width: 768px) {
  .modalAviso{
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(211deg, #3c3e64, #1d1e2a);
    box-shadow: 0 1px 0 0 #ffffff, 0 -1px 0 0 #ffffff;
  }

  .containerAviso{
    margin-right: 10px;
    color: #ffffff;
  }
}
