.retanguloTitulo {
  width: 100%;
  padding-top: 16px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 51px;
  background-color: #474971;
}

.logo{
  display: none;
}

.pagamentoParaNome {
  display: inline;
  margin-left: 24px;
  width: 248px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.pagamentoParaNome div {
  display: inline;
  font-weight: bold;
  color: #7de6c6;
}

.fechar {
  display: inline;
  float: right;
  margin-right: 24px;
  width: 14px;
  height: 14px;
  object-fit: contain;
}

.containerVoltar{
  display: none;
}

.voltar{
  display: none;
}

.left{
  display: none;
}

/*Mobile*/
@media only screen and (max-width: 768px) {
      .retanguloTitulo {
        border-radius: 0;
        padding: 0;
        background-color: #7de6c6;
        height: 32px;
      }

      .logo{
        display: inline;
        margin-left: 16px;
        margin-top: 8px;
      }

      .pagamentoParaNome {
        display: none;
      }

      .fechar {
        display: none;
      }

      .containerVoltar{
        display: block;
        height: 60px;
        padding-top: 16px;
        padding-left: 22.5px;
      }

      .voltar{
        display: inline;
        cursor: pointer;
        width: 37px;
        height: 16px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }

      .left {
          display: inline;
          width: 15px;
          height: 10px;
          margin-right: 4.5px;
          transform: rotate(-180deg);
      }
}
