<mz-modal #bottomSheetModal [fixedFooter]="true" [options]="modalOptions"  [bottomSheet]="!(smallResolution | async) ? '' : true" [fullscreen]="!(smallResolution | async) ? '' : true">
  <mz-modal-header>
    <div *ngIf="(smallResolution | async)" class="row" style="background-color:#7de6c6;height: 35px;margin-bottom: 5px;">
      <div class="container">
        <img align="left" src="assets/group-4.svg" class="Group-Copy">
      </div>
    </div>
    <nav  *ngIf="!(smallResolution | async)"  class="Rectangle-5-Copy">
      <div class="row">
        <div class="col s10 topModal">
          <span>Cadastro Cartão de Crédito</span>
        </div>
        <div class="col s2 right-align">
          <a href="#" mz-modal-close> <i mz-icon [icon]="'close'" [size]="'large'"></i></a>
        </div>
      </div>
    </nav>
  </mz-modal-header>
  <mz-modal-content>
    <div *ngIf="(smallResolution | async)" class="row">
      <a (click)="navegate(bottomSheetModal)">
        <div class="col 1 right-align" style="padding-right: 0px;">
          <i class="material-icons" mz-icon-mdi [icon]="'chevron-left'"></i>
        </div>
        <div class="col 1 left-align" style="padding-top:6px; padding-left: 0px;">
          <span>Voltar</span>
        </div>
      </a>
    </div>
    <form [formGroup]="cartaoForm">
      <div class="container">
        <mz-select-container>
          <select mz-select mz-validation
                  id="options-select"
                  [placeholder]="'Selecione a bandeira'"
                  formControlName="bandeira">
            <option data-icon="https://image.flaticon.com/icons/svg/196/196561.svg" class="left" value="master">Master Card</option>
            <option data-icon="https://image.flaticon.com/icons/svg/196/196578.svg" class="left" value="visa">Visa</option>
          </select>
        </mz-select-container>


        <mz-input-container>
          <input mz-input mz-validation type="text" [label]="'Nome escrito no cartão'" length="150" formControlName="nome">
        </mz-input-container>

        <mz-input-container>
          <input mz-input mz-validation minlength="19" maxlength="19" type="text" [label]="'Número do Cartão'" formControlName="card_number" [brmasker]="{form: cartaoForm.get('card_number'), mask:'0000 0000 0000 00000', len:19, type:'num'}">
        </mz-input-container>

        <mz-input-container>
          <input mz-input mz-validation minlength="7" maxlength="7" type="text" [label]="'Validade (mm/aaaa)'" length="7" formControlName="expiry_date" [brmasker]="{form: cartaoForm.get('expiry_date'), mask:'00/0000', len:7, type:'num'}">
        </mz-input-container>

        <mz-input-container>
          <input mz-input mz-validation minlength="3" maxlength="3" type="text" [label]="'Código de segurança'" length="3" formControlName="cvv" [brmasker]="{form: cartaoForm.get('cvv'), mask:'000', len:3, type:'num'}">
        </mz-input-container>

        <mz-input-container>
          <input mz-input mz-validation minlength="10" maxlength="10" type="text" [label]="'CEP do endereço da fatura'" length="10" formControlName="cep" [brmasker]="{form: cartaoForm.get('cep'), mask:'00.000-000', len:10}">
        </mz-input-container>

      </div>
    </form>
  </mz-modal-content>
    <mz-modal-footer>
      <div class="container">
        <div class="row">
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <button  (click)="save(bottomSheetModal)" mz-button class="center-align cadastrar" style="width: 100%;" [disabled]="!cartaoForm.valid">Cadastrar</button>
          </div>
        </div>

      </div>
    </mz-modal-footer>
  </mz-modal>



