@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Roboto:400,700');

.App {
  background-color: #f3f5f7;
}

.App-header {
  background-color: #7de6c6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  color: #474971;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

@media all and (min-width: 1200px) {
  .Row {
    width: 1054px;
  }
}
@media all and (max-width: 1199px) {
  .Row {
    width: 900px;
  }
}
@media all and (max-width: 991px) {
  .Row {
    width: 720px;
  }
}
@media all and (max-width: 768px) {
  .Row {
    width: 100%;
  }
}

.App-header-content {
  display: flex;
  padding: 1.5em 1em;
  flex-direction: row;
  align-items: center;
}

.App-logo {
  height: 26px;
}

.App-header-divider {
  margin: 0 0.75em;
  height: 2em;
  width: 2px;
  background-color: #474971
}

.App-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
}

.App-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 99px;
  margin: 0;

  list-style: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
