.App {
  font-family: Roboto;
  color: #ffffff;
  width: 100%;
}

.hidden{
  display: none;
}

@media only screen and (min-width: 768px) {
  .App {
    color: #474971;
    position: fixed;
  }
  .hidden{
    display: inline;
  }
}
